.root {
    --footer-height: 60px;
    --logo-height: 8rem;
}


.app {
    min-height: 100vh;
}

.content {
    --offset: calc(var(60px) + var(8rem));
    min-height: calc(100vh - var(--offset));
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: auto;
    background: none;
    appearance: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}

